<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <helpfulcore>
      <logging>
        <loggingService type="Helpfulcore.Logging.LoggingService, Helpfulcore.Logging" singleInstance="true" >
          <param name="provider2" ref="helpfulcore/logging/providers/debugLogFileProvider"/>
          <param name="provider3" ref="helpfulcore/logging/providers/infoLogFileProvider"/>
          <param name="provider4" ref="helpfulcore/logging/providers/errorLogFileProvider"/>
        </loggingService>
        <providers>
          <debugLogFileProvider type="Helpfulcore.Logging.NLog.NLogLoggingProvider, Helpfulcore.Logging.NLog" logFilePath="$(dataFolder)/logs/Website.log.${date:format=yyyyMMdd}.txt" singleInstance="true">
            <param name="filePath">$(logFilePath)</param>
            <LogLevel>Debug</LogLevel>
          </debugLogFileProvider>
          <infoLogFileProvider type="Helpfulcore.Logging.NLog.NLogLoggingProvider, Helpfulcore.Logging.NLog" logFilePath="$(dataFolder)/logs/Website.Info.log.${date:format=yyyyMMdd}.txt" singleInstance="true">
            <param name="filePath">$(logFilePath)</param>
            <LogLevel>Info</LogLevel>
          </infoLogFileProvider>
          <errorLogFileProvider type="Helpfulcore.Logging.NLog.NLogLoggingProvider, Helpfulcore.Logging.NLog" logFilePath="$(dataFolder)/logs/Website.Errors.log.${date:format=yyyyMMdd}.txt" singleInstance="true">
            <param name="filePath">$(logFilePath)</param>
            <LogLevel>Warn</LogLevel>
          </errorLogFileProvider>
        </providers>
      </logging>
    </helpfulcore>
  </sitecore>
</configuration>