<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <helpfulcore>
      <logging>
        <loggingService type="Helpfulcore.Logging.LoggingService, Helpfulcore.Logging" singleInstance="true" >
          <param name="provider3" ref="helpfulcore/logging/providers/log4netLoggingProvider"/>
        </loggingService>
        <providers>
          <log4netLoggingProvider type="Helpfulcore.Logging.Log4Net.Log4NetLoggingProvider, Helpfulcore.Logging.Log4Net" />
        </providers>
      </logging>
    </helpfulcore>
  </sitecore>
</configuration>